@model IEnumerable<DogParade.Models.Walker>

@{
    ViewData["Title"] = "Index";
}

<h1>Walkers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AgeSortParm"]">@Html.DisplayNameFor(model => model.Age)</a>
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupNavigation.MeetupLocation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Wid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Wid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Wid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
