@model IEnumerable<DogParade.Models.WalkingGroup>

@{
    ViewData["Title"] = "WalkingGroup";
}

<h1>WalkingGroup</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationMins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetupLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dogs1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WalkerNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationMins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetupLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dogs1.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkerNavigation.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Gid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Gid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Gid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
