@model DogParade.Models.WalkingGroup

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WalkingGroup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationMins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationMins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetupLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeetupLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dogs1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dogs1.Breed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WalkerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WalkerNavigation.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Gid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
